{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5 pt-lg-5">
    <div class="col-md-5">
        <div class="glass-card shadow-lg">
            <h2 class="cyber-font text-center mb-4"><i class="fa-solid fa-user-plus me-2 text-success"></i> <span class="text-white">حساب معدن</span> <span class="text-success">جديد</span></h2>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label text-dim small">اسم المستخدم (المستعار)</label>
                    <input type="text" name="username" class="form-control" required placeholder="Miner_01">
                </div>
                <div class="mb-3">
                    <label class="form-label text-dim small">كلمة المرور (للوصول للوحة التحكم)</label>
                    <input type="password" name="password" class="form-control" required placeholder="********">
                </div>

                <button type="submit" class="btn btn-cyber w-100 py-3">تنشيط العقدة <span class="ms-1">>>></span></button>
            </form>
            <div class="mt-4 text-center">
                <a href="/login" class="text-dim small text-decoration-none hover-white">لديك حساب بالفعل؟ سجل دخول</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
